@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --color-blue: #6246EA;
    --color-black: #2B2C34;
    --color-white: #FFFFFE;
    --color-dark-gray: #9A9494;
    --color-gray: #C0C0C0;
    --color-light-gray1: #EFF0F3;
    --color-light-gray2: #E4E5E9;
  }
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
}